.transactions-container {
  //   padding: 24px;

  //   .ant-card {
  //     margin-bottom: 24px;
  //   }

  .mb-4 {
    margin-bottom: 16px;
  }

  .form-actions {
    margin-top: 24px;
    margin-bottom: 0;
  }

  .ant-table-cell {
    .ant-typography {
      max-width: 200px;
    }
  }
}
